.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

.profile-top-container {
    width: 976px;
    height: 100vh;
    margin-right: 1em;
    background: radial-gradient( farthest-side at top right, rgba(109, 38, 44, 0.301), transparent 500px ), radial-gradient( farthest-corner at top left, rgba(50, 255, 193, 0.103), transparent 600px ), radial-gradient( farthest-corner at bottom right, rgba(109, 38, 44, 0), transparent 500px ), radial-gradient( farthest-corner at bottom left, rgba(50, 255, 193, 0.103), transparent 600px );
    background-color: rgba(34, 35, 48, 0.93);
    /* background-repeat: no-repeat;
    background-position: center; */
}

.top-container-contents {
    margin-top: 3em;
    margin-left: 3em;
    display: flex;
    gap: 2em;
    flex-direction: row;
}
  
.profile-picture-container {
    /* margin-left: 5em;
    margin-top: 5em; */
}

  
.profile-page-picture {
    height: 164px;
    width: 164px;
    border: 2px solid #67c1f5;
}

.profile-username {
    width: 404px;
    height: 30px;
    font-size: 24px;
    font-weight: lighter;
}

.level {
    font-size: 24px;
}

.profile-email {
    font-size: 13px;
    margin-top: 5em;
}

  
.delete-user-account-button{
    border-radius: 1em;
    border: none;
    color: #ffffff;
    padding: 1em;
}
  
.no-delete-button {
    border-radius: 1em;
    border: none;
    color: #ffffff;
    padding: 1em;
    margin-top: 2em;
}

  
.delete-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  