@font-face {
    font-family: 'MotivaSansThin';
    src: url('../../../fonts/MotivaSansThin.ttf') format('truetype');
}
  

.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 550px;
    background-image: url('../BackgroundImage/pong.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-top-container {
    width: 976px;
    height: 250px;
    margin-top: 8em;
    margin-right: 1em;
    background: radial-gradient( farthest-side at top right, rgba(109, 38, 44, 0.301), transparent 500px ), radial-gradient( farthest-corner at top left, rgba(50, 255, 193, 0.103), transparent 600px ), radial-gradient( farthest-corner at bottom right, rgba(109, 38, 44, 0), transparent 500px ), radial-gradient( farthest-corner at bottom left, rgba(50, 255, 193, 0.103), transparent 600px );
    background-color: rgba(34, 35, 48, 0.93);
    /* background-repeat: no-repeat;
    background-position: center; */
}

.top-container-contents {
    margin-top: 2.2em;
    margin-left: 2.2em;
    display: flex;
    gap: 2em;
    flex-direction: row;
}
  
.profile-picture-container {
    /* margin-left: 5em;
    margin-top: 5em; */
}

  
.profile-page-picture {
    height: 164px;
    width: 164px;
    border: 2px solid #67c1f5;
}

.profile-username {
    width: 404px;
    height: 30px;
    font-size: 24px;
    font-family: 'MotivaSansThin', Arial, sans-serif;
}

.level {
    font-size: 24px;
    font-family: 'MotivaSansThin', Arial, sans-serif;
}

.game-count {
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    border: solid #c02942 2px;
    height: 28px;
    width: 28px;
    line-height: 26px;
    text-align: center;
    cursor: default;
    margin-top: 2px;
}

.level-container {
    margin-top: .5em;
}

.edit-profile-button {
    color: #D3D3D3;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    display: block;
    background-color: rgba(43, 52, 68);
    margin-top: 6.5em;
}

.edit-profile-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(53, 62, 78);
}

.profile-email {
    font-size: 13px;
    margin-top: 5em;
}

.no-delete-button {
    border-radius: 1em;
    border: none;
    /* color: #ffffff; */
    padding: 1em;
    margin-top: 2em;
    background: linear-gradient(90deg, #e06463 0%, #542429 100%);
    cursor: pointer;
}

.no-delete-button:hover {
    background: linear-gradient(90deg, #f38382 0%, #8d1d1b 100%)
}

  
.delete-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  