.games-page {
    background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 170vh;
}

.main-banner {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.games-list-image {
    height: 69px;
    width: 184px;
    margin-right: 6px;
}

.game-preview-container {
    display: flex;
    /* flex-direction: column; */
    margin-top: 2rem;
    text-decoration: none;
}

.game-images-container {
    flex: 1;
    margin-right: 2rem;
}

.bottom-home-container {
    display: flex;
    margin-top: 10vh;
}

.game-other-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 1.5px;
    height: 150px;
}

.right-game-preview {
   background-image: url(../LibraryImages/game_background.jpeg);
}

.game-main-image {
    width: 618px;
    height: 353px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* transition: opacity 0.5s ease, visibility 0s linear 0.5s, transform 0.5s; */
}
  
  .game-main-image.fade-in {
    opacity: 1;
}


.game-other-image {
    width: 162px;
    height: 69px;
    display: block;
    transition: 0.5s ease-in-out;
}

.game-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.games-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 6em;
}

.main-game-title {
    margin-left: 1em;
    height: 30px;
    text-decoration: none !important;
    color: #fff;
}

.main-game-price {
    margin-top: 7em;
    font-size: 11px;
    margin-left: 2.2em;
    text-decoration: none;
    color: #fff;
}

.left-bar-home {
    display: flex;
    flex-direction: column;
    width: 600px;
    /* margin-top: 1em; */
    margin-right: 20px;
}

.right-bar-home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hover-container {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    background-color: #a4c8de;
    color: #181f26;
    transition: 0.5s ease-in-out;
    height: 782px;
}


.hover-container.fade-in {
    opacity: 1;
  }

.game-card {
    background: #202d39;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 69px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
    cursor: pointer;
}


.game-card.active {
    background-color: #a4c8de;
    color: #181f26 !important;
    width: 660px;
    border: none;
    box-shadow: none;
  }

.game-card h2 {
    margin-right: auto;
}

.game-card p {
    margin-right: 1em;
    color: #acdbf5;
}

.game-card.active p {
    margin-right: 3em;
    color: #181f26;
}

.title-text {
    font-size: 15px;
}

.game-hover-images {
    width: 274px;
    height: 150px;
    margin-bottom: 4px;
}

.other-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.title-hover {
    margin-left: .6em;
    height: 1em;
}
  
.cart-button {
    color: #a4d007;
    background-color: #789901;
    border: solid 1px black;
    cursor: pointer;
    width: 96px;
    height: 20px;
    margin-right: 18em;
}
  
.popup-buttons:hover,
.add-button:hover,
.cart-button:hover {
    background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
    color: #fff;
}
  
.loading-container {
    background-color: #15191f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message-button {
    background-color: #262625;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 24px;
    margin-right: 6px;
    width: 27px;
}

.arrow-button {
    background-image: linear-gradient(90deg,rgba(0,0,0,.4) 5%,transparent 95%);
    align-items: center;
    background-color: initial;
    border: none;
    box-sizing: initial;
    color: #fff;
    font-size: 40px;
    height: 36px;
    padding: 36px 11px;
    top: 42%;
    width: 23px;
}

.arrow-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(171, 218, 244, 0.3) 5%, rgba(171, 218, 244, 0) 95%);
}


.index-squares {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 1em;
  }
  
  .index-square {
    background-color: #4d657b;
    border-radius: 2px;
    height: 9px;
    margin: 15px 2px;
    width: 15px;
    cursor: pointer;
  }
  
  .index-square.active {
    background-color: #7a8b9c;
  }

  .see-more {
    align-items: center;
    background-color: rgba(0,0,0,.2);
    box-sizing: border-box;
    color: #c6d4df;
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: flex-end;
    padding: 0 20px;
    width: 100%;
    margin-left: 0.34em;
    margin-bottom: 0;
  }

  .see-more:hover {
    cursor: pointer;
    text-decoration: underline;
  }


@media screen and (min-width: 1000px) {
    .games-page {
      height: 100vh;
    }
  
    .games-container {
      max-width: 940px;
    }
  
    .left-bar-home {
      width: 618px;
    }
  
    .right-bar-home {
      margin-left: 0;
      height: 320px;
    }
  
    .game-card {
      width: 618px;
    }

    .game-card.active {
        width: 650px;
    }
  
    .hover-container {
        width: 300px;
    }
  
    .game-hover-images {
        width: 274px;
        height: 150px;
    }
  }
  