.games-page {
    background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-banner {
    width: 100%;
    height: 100%;
}

.games-list-image {
    height: 69px;
    width: 184px;
    margin-right: 6px;
}

.game-preview-container {
    display: flex;
    /* flex-direction: column; */
    margin-top: 2rem;
}

.game-images-container {
    flex: 1;
    margin-right: 2rem;
}

.bottom-home-container {
    display: flex;
    margin-top: 10vh;
}

.game-other-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    height: 150px;
}

.right-game-preview {
   background-image: url(../LibraryImages/game_background.jpeg)
}

.game-main-image {
    width: 618px;
    height: 353px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.game-other-image {
    width: 162px;
    height: 69px;
    display: block;
}

.game-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.games-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0.5em;
}

.main-game-title {
    margin-left: 1em;
}

.main-game-price {
    margin-top: 8em;
    font-size: 11px;
    margin-left: 1em;
}

.left-bar-home {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 3em;
    margin-right: 20px;
}

.right-bar-home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hover-container {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    background-color: #a4c8de;
    color: #181f26;
    transition: 0.5s ease-in-out;
}


.hover-container.fade-in {
    opacity: 1;
  }

.game-card {
    background: #202d39;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 69px;
    margin: 4px;
    cursor: pointer;
}


.game-card.active {
    background-color: #a4c8de;
    color: #181f26 !important;
    width: 660px;
    border: none;
    box-shadow: none;
  }

.game-card h2 {
    margin-right: auto;
}

.game-card p {
    margin-right: 1em;
    color: #acdbf5;
}

.game-card.active p {
    margin-right: 3em;
    color: #181f26;
}

.title-text {
    font-size: 15px;
}

.game-hover-images {
    width: 274px;
    height: 150px;
    margin-bottom: 4px;
}

.other-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-hover {
    margin-left: .6em;
}
  
.cart-button {
    color: #a4d007;
    background-color: #789901;
    border: solid 1px black;
    cursor: pointer;
    width: 96px;
    height: 20px;
}
  
.popup-buttons:hover,
.add-button:hover,
.cart-button:hover {
    background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
    color: #fff;
}
  
.loading-container {
    background-color: #15191f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message-button {
    background-color: #262625;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 24px;
    margin-right: 6px;
    width: 27px;
}




@media screen and (min-width: 1470px) {
    .games-page {
      height: 100vh;
    }
  
    .games-container {
      max-width: 940px;
    }
  
    .left-bar-home {
      width: 618px;
    }
  
    .right-bar-home {
      margin-left: 0;
      height: 320px;
    }
  
    .game-card {
      width: 618px;
    }

    .game-card.active {
        width: 650px;
    }
  
    .hover-container {
        width: 300px;
    }
  
    .game-hover-images {
        width: 274px;
        height: 150px;
    }
  }
  