.game-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  
.game-detail-logo {
    height: 150px;
    width: 325px;
}

.game-detail-images {
    height: 65px;
    width: 115px;
}

.game-detail-subtext {
    color: #556772;
    font-size: 10px;
    text-align: start;
    text-transform: uppercase;
    width: 104px;
}


.review-length {
    color: #556772;
}

.release-date {
    color: #8F98A0;
    font-weight: lighter;
}

.dev-pub {
    color: #67C1F5;
    font-size: 12px;
}

.side-text-details {
    color: #c6d4df;
    font-size: 13px;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
}

.full-description-container {
    border-top: 1px solid grey;
    margin-bottom: 1em;
}

.right-bar-container {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.right-bar {
    display: flex;
    justify-content: flex-end;
    width: 325px;
    margin-left: 20px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    float: left;
    margin-right: 20px;
}

.selected-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.top-half-container {
    background: linear-gradient(90deg,transparent 50%,rgba(0,0,0,.4));
}
  
.selected-image {
    height: 338px;
    width: 600px;
}
  
.game-detail-images.selected {
    border: 3px solid #fff;
    margin: 0;
}
  

.small-images-container {
    display: flex;
    flex-direction: row;
}

.main-detail-title {
    display: flex;
    justify-content: flex-start;
    width: 945px;
}

.full-description {
    white-space: pre-wrap;
    color: #acb2b8;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 30px;
  }
  

.price-container{
    background: linear-gradient(-60deg,rgba(226,244,255,.3) 5%,rgba(84,107,115,.3) 95%);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-right: 15.5em;
    font-size: 21px;
    width: 616px;
    height: 72px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px 16px 26px;
}

.purchase-box {
    align-items: center;
    background-color: #000;
    border-radius: 2px;
    display: flex;
    font-size: 13px;
    height: 32px;
    width: 175px;
    padding: 2px;
    margin-left: 14em;
    margin-top: 6em;
}



.add-button {
    background: linear-gradient(90deg,#75b022 5%,#588a1b 95%);
    border: none;
    border-radius: 2px;
    color: #d2efa9;
    font-size: 15px;
    height: 30px;
    width: 106px;
    margin-right: 1px;
    margin-left: 12px;
    padding: 0 15px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

.add-button-login {
    background: linear-gradient(90deg,#75b022 5%,#588a1b 95%);
    border: none;
    border-radius: 2px;
    color: #d2efa9;
    font-size: 15px;
    height: 30px;
    width: 106px;
    margin-right: 1px;
    margin-left: 12px;
    padding: 0 15px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

#actual-price {
    margin-left: 10px;
    width: 45px
}

.about-container {
    display: flex;
    justify-content: flex-start;
    width: 616px;
    flex-direction: column;
    margin-right: 20.5em;
    margin-top: 2em;
}

.cart-details-page {
    margin-left: 69.3em;
}

.popup {
    position: fixed;
    top: 80%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-60deg,rgba(226,244,255,.3) 5%,rgba(84,107,115,.3) 95%);
    border: 1px solid #000;
    padding: 1rem;
    z-index: 9999;
}

#cart-redirect{
    text-decoration: none;
}

.popup-buttons {
    background: linear-gradient(90deg,#75b022 5%,#588a1b 95%);
    border: none;
    border-radius: 2px;
    color: #d2efa9;
    font-size: 15px;
    margin-right: 1px;
    margin-left: 10px;
    padding: 0 15px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
}


.logged-out-message {
    margin-top: 4em;
}

.logout-redirect {
    width: 270px;
    height: 50px;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: 'Motiva Sans 500', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 3em;
}

.logout-redirect:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
    cursor: pointer;
}

#detail-cart {
    margin-right: 19em;
}
