.library {
    background: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 120vh;
}

.library-logged-out {
    background: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 110vh;
}

.library-title {
    font-size: 34px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.library-login,
.no-games button {
    width: 270px;
    height: 50px;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: 'Motiva Sans 500', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0 auto;
}

.remove-no,
.library-login:hover,
.no-games button:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
    cursor: pointer;
}

.no-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 2em
}

.library-remove-form {
    background: linear-gradient(-60deg,rgba(226,244,255,.3) 5%,rgba(84,107,115,.3) 95%);
    width: 500px;
    height: 60px;
    padding: 1em;
    margin-bottom: 1em;
    margin-left: 2.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}

.library-remove-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em
}



.remove-yes {
    background: linear-gradient(90deg, #e06463 0%, #542429 100%);
    color: #fff;
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: 'Motiva Sans 500', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
}


.remove-no {
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    color: white;
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: 'Motiva Sans 500', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.remove-yes:hover{
    background: linear-gradient(90deg, #f38382 0%, #8d1d1b 100%);
}

.remove-no:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}


.uninstall-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}