.library {
    background: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.library-title {
    font-size: 34px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .modal-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-actions button {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
  }  